* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #101015;
    font-family: "Poppins", sans-serif;
    color: rgba(253, 252, 252, 1);
}

.main_frame {
    max-width: 2000px;
    min-height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: row;
}

.dashboard {
    flex: 0.8;
}

@media only screen and (min-width: 1264px) {
    .dashboard {
        width: 100%;
    }
}

.left_bar {
    max-width: 250px;
    flex: 0.2;
    background-color: #21212b;
}

@media only screen and (max-width: 700px) {
    .left_bar {
        display: none;
    }

    .dashboard {
        flex: 1;
    }
}

.banner {
    width: 100%;
    height: 270px;
    padding-top: 100px;
}

.banner .content {
    width: 60%;
    margin: auto;
}

.banner .content h2 {
    margin-bottom: 50px;
}

.interventi_feed {
    width: 70%;
    height: 60%;
    margin: auto;
    scroll-behavior: smooth;
}

.interventi_feed::-webkit-scrollbar {
    display: none;
}

.interventi_container {
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_wrapper {
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
