<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/carica.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800;900&display=swap" rel="stylesheet" />
    </head>
    <body>
        <script type="module" src="/js/components/navbar.js"></script>
        <script type="module" src="/js/set_profile_pic.js"></script>

        <navbar-component></navbar-component>

        <!-- janky -->
        <div style="display: none">
            <p id="user_pic">{{ user.picture }}</p>
        </div>

        <script>
            // ! DA IMPLEMENTARE PER FORZA CON LA NAVBAR
            function logout() {
                location.href = "/logout";
            }

            function routeHome() {
                location.href = "/";
            }

            function routeToProfile() {
                location.href = "/profilo";
            }
        </script>

        <div class="Pagina">
            <div class="MainContainer">
                <form action="/carica" id="form">
                    <div class="tipologia">
                        <h1>Carica Intervento</h1>

                        <div class="main_choice">
                            <p>Seleziona la tipologia</p>
                            <select name="Tipologia" id="tipologie">
                                <option value="giornaliero" selected="selected">Giornaliero</option>
                                <option value="settimanale">Settimanale</option>
                                <option value="mensile">Mensile</option>
                                <option value="annuale">Annuale</option>
                            </select>
                        </div>
                    </div>
                    <div class="checkboxs" id="checkboxs"></div>
                    <div class="attrezzature">
                        <p>Attrezzature</p>
                        <textarea class="custom sfondoattrezzature" type="text" id="attrezzatura"></textarea>
                    </div>
                    <div class="ore">
                        <p>Ore inizio / Ora fine</p>
                        <input type="time" class="sfondoora" id="ora_inizio" /><input type="time" class="sfondoora" id="ora_fine" />
                    </div>
                    <div class="sede">
                        <p>Sede</p>
                        <input type="text" name="sede" id="sede" />
                    </div>
                    <div class="plesso">
                        <p>Plesso</p>
                        <input type="text" name="plesso" id="plesso" />
                    </div>
                    <div class="vano">
                        <p>Codice vano</p>
                        <input type="number" min="0" name="vano" id="vano" />
                    </div>
                    <div class="prodotti">
                        <p>Prodotti</p>
                        <textarea class="custom sfondoattrezzature" type="text" id="prodotti"></textarea>
                    </div>
                    <div class="note">
                        <p>Note</p>
                        <textarea class="custom" type="text" id="note"></textarea>
                    </div>
                    <div class="carica">
                        <button type="submit">Carica</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            function validateForm(formData) {
                return (
                    formData.tipologia != "" &&
                        formData.checkboxs.length != 0 &&
                        formData.attrezzatura != "" &&
                        formData.orario.ora_inizio != "" &&
                        formData.orario.ora_fine != "" &&
                        formData.note != "" &&
                        formData.sede != "" &&
                        formData.plesso != "" &&
                        formData.vano != "",
                    formData.prodotti != ""
                );
            }

            document.getElementById("form").addEventListener("submit", async (e) => {
                e.preventDefault();

                const tipologia = document.getElementById("tipologie").value;

                const checkboxs = document.getElementsByClassName("opzione");
                const checked = Array.from(checkboxs).filter((c) => c.checked);
                const extracted_checkboxs = checked.map((c) => c.value);

                const attrezzatura = document.getElementById("attrezzatura").value;

                const ora_inizio = document.getElementById("ora_inizio").value;
                const ora_fine = document.getElementById("ora_fine").value;

                const sede = document.getElementById("sede").value;
                const plesso = document.getElementById("plesso").value;
                const vano = document.getElementById("vano").value;
                const prodotti = document.getElementById("prodotti").value;

                const note = document.getElementById("note").value;

                const data = {
                    tipologia,
                    checkboxs: extracted_checkboxs,
                    attrezzatura,
                    orario: {
                        ora_inizio,
                        ora_fine,
                    },
                    note,
                    sede,
                    plesso,
                    vano,
                    prodotti,
                };

                if (validateForm(data)) {
                    const res = await fetch(location.href, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    });

                    const json = await res.json();

                    if (json.success) {
                        location.href = "/";
                    } else {
                        alert(json.message);
                    }
                } else {
                    alert("Completa tuttti i campi!");
                }
            });
        </script>

        <script>
            const att = {
                giornaliero: [
                    "Sanificazione tazze, maniglie e interruttori (bagni)",
                    "Pulizia servizi igenici",
                    "Pulizia porte d'ingresso",
                    "Pulizia tappeti d'ingresso",
                    "Spazzatura pavimenti",
                    "Pulizia corrimani e ringhiere",
                    "Pulizia banchi, sedie, ecc.",
                    "Pulizia interruttori (aule)",
                    "Lavaggio lavagne",
                    "Lavaggio pavimenti (aule, uffici e corridoi)",
                    "Ripristino del materiale di consumo ",
                    "Controllo e ripristino del gel igenizzante",
                    "Rimozione immondizia e pulitura dei cestini",
                    "Rimozione rifiuti cestini esterni",
                    "Pulizia e disinfezione distributori e fotocopiatrici",
                    "Pulizia ascensore",
                    "Pulizia attrezzature utilizzate nei laboratori",
                    "Lavaggio pavimenti (spogliatoi)",
                    "Pulizia e disinfezione attrezzature della palestra",
                    "Sanificazione con atomizzatore",
                ],
                settimanale: [
                    "Sanificazione a fondo di scrivanie, sedie, armadi ecc.",
                    "Lavaggio cestini gettacarte, al bisogno",
                    "Disinfezione tribune o gradoni per spettatori (palestra)",
                    "Eliminare i rifiuti a terra(ambienti esterni)",
                    "Pulizia e disinfezione di cancelli, ringhiere, tubi",
                    "Spolveratura delle superfici e degli arredi esterni",
                    "Pulizia porte, portoni, cancelli",
                    "Pulizia attrezzi ginnici che non prevedono soventi contatti",
                ],
                mensile: [
                    "Pulizia e igienizzazione di caloriferi",
                    "Pulizia vetri e infissi interni.",
                    "Pulizia esterna (balconi ecc.)",
                    "Disinfestazione da insetti.",
                    "Pulizia bacheche e targhe.",
                    "Pulizia e disinfezione interna ed esterna armadietti",
                    "Lavaggio meccanico dei pavimenti.",
                    "Pulizia archivi in uso e loro accesso.",
                    "Asportazione delle ragnatele ed aspirazione soffitti.",
                ],
                annuale: [
                    "Lavaggio dei punti luce.",
                    "Pulizia dei vetri esterni delle finestre e davanzali delle aule.",
                    "Aspirazione soffitti difficilmente raggiungibili",
                    "Lavaggio tende.",
                    "Manutenzione dei pavimenti in legno, ceramica, ecc.",
                    "Manutenzione dei pavimenti cerati e non cerati.",
                    "Ambienti non utilizzati (scantinati, ecc.).",
                    "Pulizie di vetrate e tettoie (a cura di esterni).",
                    "Pulizia e disinfezione interna ed esterna armadietti",
                ],
            };
            const removeChildren = (parent) => {
                while (parent.lastChild) {
                    parent.removeChild(parent.lastChild);
                }
            };

            const tipologie = document.getElementById("tipologie");

            function populateCheckboxs() {
                const container = document.getElementById("checkboxs");
                removeChildren(container);

                let id = 0;
                att[tipologie.value].forEach((a) => {
                    const cont = document.createElement("div");

                    const checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    checkbox.value = a;
                    checkbox.className = "opzione";
                    checkbox.id = `checkbox${id.toString()}`;
                    id += 1;

                    const label = document.createElement("label");
                    label.for = id.toString();
                    label.innerText = a;

                    cont.appendChild(checkbox);
                    cont.appendChild(label);

                    container.appendChild(cont);
                });
            }

            populateCheckboxs();
            tipologie.addEventListener("change", populateCheckboxs);
        </script>
    </body>
</html>
