<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/home.css" />
        <title>GELATA - Home</title>
    </head>

    <body>
        <script type="module" src="/js/components/intervento_card.js"></script>
        <script type="module" src="/js/components/navbar.js"></script>
        <script type="module" src="/js/set_profile_pic.js"></script>

        <navbar-component></navbar-component>

        <div class="main_frame">
            <div class="left_bar"></div>
            <div class="dashboard">
                <div class="banner">
                    <div class="content">
                        <h2>Dashboard</h2>
                        <h1>Ciao, <br />{{ user.email }}</h1>
                    </div>
                </div>

                <div class="interventi_feed">
                    <div class="interventi_container">
                        <!-- Add other fields -->
                        {% for i in interventi %}
                        <intervento-card class="card_wrapper" name="{{i.id}}">
                            <p slot="titolo">{{ i.id }}</p>
                            <p slot="data">{{ i.ts }}</p>
                            <p slot="note">{{ i.note }}</p>
                            <p slot="sede">{{ i.sede }}</p>
                            <p slot="plesso">{{ i.plesso }}</p>
                            <p slot="att">{{ i.attività.descrizione }}</p>
                            <p slot="freq">{{ i.attività.frequenza }}</p>
                            <p slot="vano">{{ i.vano.codice }}</p>
                            <p slot="prodotto">{{ i.prodotto }}</p>
                            <p slot="attrezzatura">{{ i.attrezzatura }}</p>
                            <p slot="utente">{{ i.utente }}</p>
                            <!-- janky fix -->
                            <div slot="iid" style="position: absolute; opacity: 0; width: 400px; height: 50px" onclick="deleteIntervento('{{ i.id }}')"></div>
                        </intervento-card>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- janky -->
        <div style="display: none">
            <p id="user_pic">{{ user.picture }}</p>
        </div>

        <script>
            // ! DA IMPLEMENTARE PER FORZA CON LA NAVBAR
            function logout() {
                location.href = "/logout";
            }

            function routeHome() {
                location.href = "/";
            }

            function routeToProfile() {
                location.href = "/profilo";
            }

            function deleteIntervento(iid) {
                if (confirm("Vuoi eliminare questo intervento?")) {
                    console.log("ELIMINAZIONE", iid);
                } else {
                    console.log("ABORT");
                }
            }
        </script>
    </body>
</html>
